body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e0e882 0%, #376038 100%);
}

.product-card {
  background: white;
  border-radius: 45px;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  width: 430px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.product-card__image {
  width: 100%;
  height: 420px;
  overflow: hidden;
}

.product-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-card__image img:hover {
  transform: scale(1.05);
}

.product-card__title {
  margin: 24px 24px 12px;
  font-size: 2rem;
  color: #000000;
}

.product-card__description {
  margin: 0 24px 24px;
  color: #000000;
  line-height: 1.6;
  font-size: 1.1rem;
}

.product-card__footer {
  padding: 24px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  font-size: 2rem;
  font-weight: bold;
  color: #1f4913;
}

.product-card__button {
  padding: 14px 28px;
  background: #1f4913;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.product-card__button:hover {
  background: #27ae60;              /* Темнее зеленый */
}

.product-card__button:active {
  transform: translateY(1px);
}
